<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crosspromo-exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{543,3},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{295,142},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>github.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,156}</string>
                <key>textureRect</key>
                <string>{{459,147},{160,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paypal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{536,135}</string>
                <key>spriteSourceSize</key>
                <string>{600,159}</string>
                <key>textureRect</key>
                <string>{{3,3},{536,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,122}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{295,306},{150,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3,142},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crosspromo.png</string>
            <key>size</key>
            <string>{686,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c63aac18ffb57b8010048112d7dcf2be:52937382970121ba593a1ad7ed94f2a5:a37cf56ae104ff80b65b1148f118c07d$</string>
            <key>textureFileName</key>
            <string>crosspromo.png</string>
        </dict>
    </dict>
</plist>
