<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crosspromo-exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{43,82},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3,147},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>github.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{47,147},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paypal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{82,3},{140,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3,82},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{3,3},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crosspromo.png</string>
            <key>size</key>
            <string>{123,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eb8e9834a471f38fba4daecb8d843cc:a84bb44a9c00a82235608577743817d1:a37cf56ae104ff80b65b1148f118c07d$</string>
            <key>textureFileName</key>
            <string>crosspromo.png</string>
        </dict>
    </dict>
</plist>
