<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crosspromo-exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{279,87},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{155,3},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>github.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{239,3},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paypal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{272,71}</string>
                <key>spriteSourceSize</key>
                <string>{300,79}</string>
                <key>textureRect</key>
                <string>{{3,155},{272,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{155,87},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{3,3},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crosspromo.png</string>
            <key>size</key>
            <string>{352,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:798b6ead0a4912007280439e932f8e01:5dab9f65059fff3a26c80d6f510b9a5f:a37cf56ae104ff80b65b1148f118c07d$</string>
            <key>textureFileName</key>
            <string>crosspromo.png</string>
        </dict>
    </dict>
</plist>
